@import 'colors';

.outer {
  position:relative;
  width:10em;
  height:10em;
  margin:1em;
  background-color: $paleColor;
}

.view_height {
  max-height:100vh;
  overflow-y: scroll;
  width:500px;
}

.dataset_controls {
  position: sticky;
  top: 0em;
  z-index: 10;
  background-color: white;
}
