@import 'colors';

.outer {
  position:relative;
  top:0;
  height: 100%;
  width: 100%;
  overflow:auto;
  margin:0 auto;
}

.FAQ {
  margin: 1em;
}

.question {
  font-family: 'Comfortaa' sans-serif;
  font-size: 1.2em;
  cursor: pointer;
  color:$highlightColor;
  background-color: $lightColor;
  padding: 0.25em;
}

.answer {
  padding:0.25em 0 0 2em;

  a {
    color: $highlightColor;
    text-decoration: underline !important;
  }
}

.result_count {
  display:block;
  margin: 1em;
}

.hidden {
  display:none;
}
