@import 'colors';

div.icon {
  height:1.5em;
  width:1.5em;
  margin:0.3em;
  display:inline-block;

  svg {
    height:1.5em;
    width:1.5em;
    cursor:pointer;
    background-color:inherit;
    color:inherit;
  }

  svg.active {
    background-color:$deepColor;
    color:$lightColor;
  }

  svg:hover {
    background-color:$paleColor;
    color:$lightColor;
  }

  svg.active:hover {

  }
}

.text_icon {
  display:inline-block;
  color: $lightColor;
  padding: 0 0.3em 0.1em 0.3em;
  cursor:pointer;
}

.text_icon.active {
  background-color: $deepColor;
}
