@import 'colors';

.outer {
  position:absolute;
  top:0;
  right:0;
  background-color: $lightColor;
  margin:1em;
  height:75em;
  width:75em;
  border:2px solid $darkColor;
}

.main_plot {
  height:100%;
  width:100%;

  circle {
    fill:currentColor;
    opacity:0.4;
  }
}

.fill_parent {
  position:absolute;
  top:0;
  left:0;
  height:100%;
  width:100%;
}

.layer_tab_holder {
  position: absolute;
  right: 0;
  top: 0;
  height: auto;
  width: 3em;
  z-index:20;
}

.layer_tab {
  width:3em;
  height:2em;
  text-align: right;

  .legend {
    width:auto;
    min-width:3em;
    background-color: $lightColor;
    height: 2em;
    right: 0;
    line-height: 2em;
    margin-right: 3.5em;
    position: absolute;
  }
}
